@charset "UTF-8";
/* CSS */

body { 
margin:0;
padding:0;
background : url(images/background.jpg) no-repeat center center fixed ;
background-size: cover;  /* Not what is expected either way, need to figure out a way to get a better background look*/
background-position:center;
font-family:sans-serif;


}

.loginbox {
	
	width:320px;
	height:420px;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	
}